<html lang="en">
<%- include("./visualizacion/head.ejs") %>

<body>
  <%- include("./visualizacion/nav.ejs") %>

  <div class="not-found content">
    Pagina no disponible
  </div>

  <%- include("./visualizacion/footer.ejs") %>
</body>
</html>