<nav>
    <div class="site-title">
      <a href="/"><h1>Blog 2GS</h1></a>
      <p>Node</p>
    </div>
    <ul>
      <li><a href="/">Blogs</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/create">NuevoBlog</a></li>
    </ul>
  </nav>